<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 
  <display-name>AdminPanel</display-name>
        <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
  
  <servlet>
    <servlet-name>SentId</servlet-name>
    <servlet-class>SentId</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SentId</servlet-name>
    <url-pattern>/sentId</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>UpdUser</servlet-name>
    <servlet-class>UpdUser</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdUser</servlet-name>
    <url-pattern>/updUser</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GetLogin</servlet-name>
    <servlet-class>GetLogin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetLogin</servlet-name>
    <url-pattern>/loginIn</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegistrNew</servlet-name>
    <servlet-class>RegistrNew</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegistrNew</servlet-name>
    <url-pattern>/registr</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

</web-app>